FLASK_APP=app.py
FLASK_ENV=development
SECRET_KEY=your_secret_key
DATABASE_URL=postgresql://username:password@localhost/shophive_db
DB_USER=your_username
DB_PASS=your_password
DB_NAME=shophive_db
POSTGRES_PASSWORD=your_postgres_password
